* {
    margin : 0px ;
    padding : 0px ;
    text-decoration: none ;
    list-style: none ;
    overflow: hidden ;
}

:root {
    --nav-btn : #94A3B8 ;
    --nav-btn-hover : #465569fa ;

    --main-shadow : rgba(0, 0, 0, 0.1) ;
}