.hero-section .head .logo svg {
    text-shadow: 3px 2px 1px var(--main-shadow);
}

.hero-section .head .logo .name {
    font-size: 26px ;
    text-shadow: 3px 2px 1px var(--main-shadow);
}

.hero-section .head .hamburger-menu {
    transition: all 1s ;
    border-radius: 12px ;
    border-top-right-radius: 0px ;
    border-bottom-right-radius: 0px ;
    border : 1px solid rgb(0, 0, 0 , 0.3) ;
    box-shadow: 2px 10px 10px 2px var(--main-shadow);
    background-color: #F8F8FF;
}

.hero-section .head .hamburger-menu p {
    font-size: 20px;
    color : var(--nav-btn-hover);
}

.hero-section .head .navbar li , 
.hero-section .head .hamburger-menu .navbarr li {
    color: var(--nav-btn) ;
    text-shadow: 3px 2px 1px var(--main-shadow);
    transition : 0.3s ease;
}

.hero-section .head .navbar li:hover , 
.hero-section .head .hamburger-menu .navbarr li:hover {
    cursor: pointer;
    color : var(--nav-btn-hover) ;
}

.hero-section .head .navbar li:active , 
.hero-section .head .hamburger-menu .navbarr li:active{
    transition: 0s ;
    cursor: pointer;
    color : black ;
}

.hero-section .head .navbar li.active , 
.hero-section .head .hamburger-menu .navbarr li.active{
    color : black ;
}

.hero-section .head .start-box li , 
.hero-section .head .hamburger-menu .start-boxx li {
    border : 1px solid var(--main-shadow);
    box-shadow: 0px 0px 5px 2px var(--main-shadow);
    border-radius: 12px ;
    transition: 0.5s ease ;
}

.hero-section .head .start-box .login:hover , 
.hero-section .head .hamburger-menu .start-boxx .login:hover ,
.hero-section .left .box-btn .explore-gallery:hover /* start Creating Button From Left */ {
    cursor: pointer ;
    color : white ;
    background-color: black ;
}

.hero-section .head .start-box .login:active , 
.hero-section .head .hamburger-menu .start-boxx .login:active ,
.hero-section .left .box-btn .explore-gallery:active /* start Creating Button From Left */{
    cursor: pointer ;
    transition: 0s;
    transform: scale(0.95);
    background-color: var(--nav-btn-hover) ;
}

.hero-section .head .start-box .get-started , 
.hero-section .head .hamburger-menu .start-boxx .get-started {
    color : white ;
    background-color: black;
    border : 1px solid var(--main-shadow) ;
}

.hero-section .head .start-box .get-started:hover , 
.hero-section .head .hamburger-menu .start-boxx .get-started:hover ,
.hero-section .left .box-btn .start-creating:hover /* start Creating Button From Left */ { 
    cursor: pointer;
    color : black ;
    background-color: white ; 
}

.hero-section .head .start-box .get-started:active ,
.hero-section .head .hamburger-menu .start-boxx .get-started:active ,
.hero-section .left .box-btn .start-creating:active /* start Creating Button From Left */ {
    cursor: pointer ;
    transition: 0s;
    transform: scale(0.95);
    background-color: var(--nav-btn) ;
}

/* hero ^-^ */

.hero-section .right img {
    object-fit: cover ;
}

/* right ^-^ */

.hero-section .left .hero-heading {
    width : 800px ;
    font-size: 60px;
}

.hero-section .left .hero-paragraph {
    font-size: 20px;
    color : var(--nav-btn-hover);
}

.hero-section .left .box-btn li {
    box-shadow: 0px 0px 5px 2px var(--main-shadow);
    border : 1px solid var(--main-shadow);
    border-radius: 12px ;
    transition: 0.5s ease ;
}

.hero-section .left .box-btn .start-creating {
    color : white ;
    background-color: black ;
}

.hero-section .left .users-text .users {
    margin-left : 50px ;
}

.hero-section .left .users-text .users li {
    border-radius: 50%;
    border: 2px solid white ;
}

.hero-section .left .users-text .users li img {
    object-fit: cover ;
    border-radius: 50% ;
}

.hero-section .left .users-text .text {
    font-size: 15px;
    color : var(--nav-btn-hover);
}

/* left ^-^ */


.hero-section .ui-overlay {
    display: none ;
    background-color: rgb(0, 0, 0 , 0.6);
    opacity: 0 ;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.hero-section .ui-overlay.active {
    display: unset ;
    opacity: 1;
    pointer-events: auto;
}