body {
    width : 100% ;
    height : 100dvh ;
}

.hero-section {
    width : 100% ;
    height : 100dvh ;
    display : grid ;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "head head" "left1 right1";
}

.hero-section .head {
    display: grid ;
    grid-area: head ;
}

.hero-section .head .logo {
    position: absolute ;
    top : 20px ; 
    left : 20px;
}

.hero-section .head .logo .name {
    display: inline ;
    margin : 5px 0px ;
}

.hero-section .head .hamburger-menu-btn {
    display : none ;
    position: absolute ;
    right : 30px ;
    top : 25px ;
    z-index: 101;
    padding : 6px 12px ;
}

.hero-section .head .hamburger-menu-btn .first.open {
    transform: rotate(45deg) translate(6px , 6px) ;
}

.hero-section .head .hamburger-menu-btn .midle.open {
    opacity: 0 ;
}

.hero-section .head .hamburger-menu-btn .last.open {
    transform: rotate(-45deg) translate(6px , -7px) ;
}

.hero-section .head .hamburger-menu-btn div {
    transform-origin: center;
    transition: all 0.5s ease;
    height : 5px ;
    width : 35px ;
    background-color: black ;
    border : 2px solid white ;
    z-index: 100 ;
}

.hero-section .head .hamburger-menu.none {
    display: none;
}

.hero-section .head .hamburger-menu {
    position: absolute ;
    transform: translateX(1000px); 
    right :-2px ;
    top: 70px ;
    width : 71% ;
    height : 75dvh ;
    z-index: 100 ;
}

.hero-section .head .hamburger-menu.open {
    transform: translateX(0px); 
}

.hero-section .head .hamburger-menu p {
    margin-left : 20px ;
    margin-top : 100px ;
}

.hero-section .head .hamburger-menu .navbarr {
    position: relative;
    display : block ;
    margin-top: 50px ;
}

.hero-section .head .hamburger-menu .navbarr li {
    margin-top : 20px ;
    margin-left : 20px; 
}

.hero-section .head .hamburger-menu .start-boxx {
    display: flex ;
    margin-top : 70px ;
    margin-left : 20px; 
}

.hero-section .head .hamburger-menu .start-boxx li {
    padding : 8px 20px ;
    margin-left : 20px ;
}

.hero-section .head .navbar {
    display : flex ;
    position: absolute ;
    top : 0; 
    right : 400px ;
}

.hero-section .head .navbar li {
    margin : 30px ;
}

.hero-section .head .start-box {
    display : flex ;
    position: absolute ;
    top : 0 ;
    right : 60px;
    margin-top : 10px ;
}

.hero-section .head .start-box li {
    margin : 10px ;
    padding : 8px 20px ;
}

/* head ^-^ */

.hero-section .right {
    display : grid ;
    grid-area : right1 ;
    direction: rtl ;
}

.hero-section .right img {
    position: absolute ;
    bottom : 0 ;
}

/* right ^-^ */

.hero-section .left {
    display : grid ;
    grid-area : left1 ;
}

.hero-section .left .hero-heading {
    display : flex ;
    margin-left : 200px ;
    margin-top : 100px ;
}

.hero-section .left .hero-paragraph {
    width : 600px ;
    margin-left : 200px ;
    margin-top : -40px ;
}

.hero-section .left .box-btn {
    display : flex ;
    margin-left : 350px ;
    margin-top : -60px ;
}

.hero-section .left .box-btn li {
    height : fit-content ;
    padding : 12px 30px ;
    margin : 10px ;
}

.hero-section .left .users-text {
    display : flex ;
    margin-bottom : -40px ;
    height : fit-content ;
}

.hero-section .left .users-text .users {
    display: flex ;
}

.hero-section .left .users-text .users li {
    width : 30px ;
    height : 30px ;
    margin-left : -10px ;
}

/* left ^-^ */

.hero-section .ui-overlay {
    width : 100% ;
    height : 100vh ;
    z-index: 99 ;
} 


/* ui Overlay ^-^ */

@media (max-width : 575px) {
    .hero-section {
        grid-template-columns: 1fr ;
        grid-template-rows: auto 1fr;
        grid-template-areas: "head" "left1";
    }

    .hero-section .head {
        display: grid;
        grid-area : head ;
    }

    .hero-section .head .navbar {
        display: none ;
    }

    .hero-section .head .start-box {
        display : none ;
    }

    .hero-section .head .hamburger-menu-btn {
        display: unset ;
    }

    .hero-section .head .hamburger-menu {
        padding : 8px 20px ;
    }

    .hero-section .right img {
        display : none ;
    }

    .hero-section .left {
        display : grid ;
        grid-area : left1 ;
    }

    .hero-section .left .hero-heading {
        position: absolute ;
        width : max-content ;
        top : 150px ;
        left : 70px ;
        margin : 0px ;
        font-size: 25px ;
    }

    .hero-section .left .hero-paragraph {
        position: absolute ;
        top : 260px ;
        left : 70px ;
        width : 270px ;
        margin : 0px ;
        font-size: medium ;
    }

    .hero-section .left .box-btn {
        position: absolute ;
        top : 400px ;
        left : 19px ;
        transform: scale(0.85);
        margin : 0px ;
    }

    .hero-section .left .users-text {
        position: absolute ;
        top : 550px ;
        left : 0px ;
    }
}

@media (min-width : 576px) and (max-width : 767px) {
    .hero-section {
        grid-template-columns: 1fr ;
        grid-template-rows: auto 1fr;
        grid-template-areas: "head" "left1";
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .hero-section .head {
        display: grid;
        grid-area : head ;
    }

    .hero-section .head .navbar {
        display: none ;
    }

    .hero-section .head .start-box {
        display : none ;
    }

    .hero-section .head .hamburger-menu-btn {
        display: unset ;
    } 
    
    .hero-section .head .hamburger-menu {
        padding : 8px 20px ;
    }

    .hero-section .right img {
        display : none ;
    }

    .hero-section .left {
        display : grid ;
        grid-area : left1 ;
    }

    .hero-section .left .hero-heading {
        position: absolute ;
        width : max-content ;
        top : 150px ;
        left : 70px ;
        margin : 0px ;
        font-size: 25px ;
    }

    .hero-section .left .hero-paragraph {
        position: absolute ;
        top : 260px ;
        left : 70px ;
        width : 270px ;
        margin : 0px ;
        font-size: medium ;
    }

    .hero-section .left .box-btn {
        position: absolute ;
        top : 400px ;
        left : 19px ;
        transform: scale(0.85);
        margin : 0px ;
    }

    .hero-section .left .users-text {
        position: absolute ;
        top : 550px ;
        left : 0px ;
    }
}

@media (min-width : 767px) and (max-width : 991px) {
    .hero-section {
        grid-template-columns: 1fr ;
        grid-template-rows: auto 1fr;
        grid-template-areas: "head" "left1";
        width : 100% ;
        height : 100dvh;
    }

    .hero-section .head {
        display: grid;
        grid-area : head ;
    }

    .hero-section .head .navbar {
        display: none ;
    }

    .hero-section .head .start-box {
        display : none ;
    }

    .hero-section .head .hamburger-menu-btn {
        display: unset ;
        position: absolute;
        right : 40px ;
        top : 30px ;
    }

    .hero-section .head .hamburger-menu {
        padding : 8px 20px ;
    }

    .hero-section .right img {
        display : none ;
    }

    .hero-section .left {
        display : grid ;
        grid-area : left1 ;
    }

    .hero-section .left .hero-heading {
        position: absolute ;
        width : max-content ;
        top : 300px ;
        left : 100px ;
        margin : 0px ;
    }

    .hero-section .left .hero-paragraph {
        position: absolute ;
        top : 450px ;
        left : 100px ;
        margin : 0px ;
    }

    .hero-section .left .box-btn {
        position: absolute ;
        top : 600px ;
        left : 200px ;
        margin : 0px ;
    }

    .hero-section .left .users-text {
        position: absolute ;
        top : 800px ;
        left : 0px ;
    }
}