.pricing-section {
    width : 100% ;
    height : 100dvh ;
    overflow-x: hidden ;
    overflow-y: hidden ;
}

.pricing-section .logo {
    margin : 30px ;
    z-index: 10;
} 

.pricing-section .logo span {
    font-size: 35px ;
}

.pricing-section .containar.none {
    display : none ;
}

.pricing-section .navbar {
    display : flex ;
    position: absolute ;
    top : 30px ;
    right : 400px ;
}

.pricing-section .navbar li {
    margin : 10px ;
    padding : 12px 30px ;
}

.pricing-section .start-box {
    display : flex ;
    width : max-content ;
    position: absolute ;
    top : 20px ;
    right : 50px ;
}

.pricing-section .start-box button {
    padding : 12px 30px ;
    margin : 15px ;
}

.pricing-section .humbarger-menu-btn {
    display : none;
    width : fit-content ;
    position: absolute ;
    right : 10px ;
    top : 30px ;
    padding : 6px 15px ;
    z-index: 100;
}

.pricing-section .humbarger-menu-btn div {
    transition: all 0.3s ;
    transform-origin: center ;
    width : 45px ;
    height : 7px ;
    margin-top: 3px ;
    z-index: 100 ;
}

.pricing-section .humbarger-menu-btn div.first.open {
    transform: rotate(45deg) translateY(14px);
}

.pricing-section .humbarger-menu-btn div.middle.open {
    opacity: 0 ;
}

.pricing-section .humbarger-menu-btn div.last.open {
    transform: rotate(-45deg) translateY(-14px);
}

.pricing-section .humbarger-menu.open {
    transform: translateX(0px);
    z-index: 1000 !important ;
    display: unset !important ; 
}

.pricing-section .humbarger-menu.none {
    display: none ;
}

.pricing-section .humbarger-menu {
    display : none ;
    position: absolute;
    transition: 1s;
    transform: translateX(1000px);
    top : 100px ;
    right : -5px ;
    width : 75% ;
    height : 75dvh ; 
    padding : 12px 30px ;
    z-index: 100;
}

.pricing-section .humbarger-menu .navbar {
    display : block ;
    width : max-content ;
    top : 60px ;
    left : 0 ;
    margin-top : 40px ;
    z-index: 100;
}

.pricing-section .humbarger-menu .navbar li {
    display : block ;
    z-index: 100;
}

.pricing-section .humbarger-menu .start-box {
    display : flex ;
    transform: scale(0.85);
    width :max-content ;
    height : fit-content ;
    margin-top : 375px ;
    margin-right : -55px ;
    z-index: 100;
}

.pricing-section .humbarger-menu span {
    font-size: 25px ;
    z-index: 100;
}

.pricing-section .ui-overlay {
    position: absolute ;
    top : 0; 
    width : 100% ;
    height : 100vh ;
    z-index: 99 ;
} 

.pricing-section .section-tag {
    padding : 6px 15px ;
    margin-top : 30px ;
    margin-left : 620px ;
    width : max-content ;
    font-weight: bold;
}

.pricing-section .main-heading {
    font-size: 45px ;
    margin-top : 20px ;
    margin-left : 450px ;
}

.pricing-section .main-paragraph {
    font-size: 20px ;
    width : 600px ;
    margin-left : 400px ;
    margin-top : 30px ;
    line-height: 1.4;
}

.pricing-section .planing-box {
    width : max-content ;
    padding : 12px 30px ;
    margin-left : 570px ;
    margin-top : 10px ;
} 

.pricing-section .planing-box button {
    padding : 6px 15px ;
}


.pricing-section .card-box {
    display : flex ;
    justify-content: center ;
    align-items: end ;
    gap : 5% ;
    width : 100% ;
    height : 45dvh ;
}

.pricing-section .card-box .card {
    width : 20% ; 
    height : 95% ;
    margin-bottom : 10px ;
}

.pricing-section .card-box .card .name {
    display : flex ;
    justify-content: center ;
    align-self: start ;
    margin-top : 10px ;
    font-size : 20px 
}

.pricing-section .card-box .card .description {
    display : flex ;
    justify-content: center ;
    align-self: start ;
    margin-top : 10px ;
    font-size: 14px ;
}

.pricing-section .card-box .card .price {
    display : flex ;
    justify-content: center ;
    align-self: start ;
    margin-top : 10px ;
    align-items: flex-end; 
    justify-content: center; 
    font-size : 20px ;
    gap: 2px;
} 

.pricing-section .card-box .card .price span {
    font-size : 35px ;
    font-weight: bold ;
}

.pricing-section .card-box .card button {
    display : flex ;
    justify-self: center ;
    padding : 6px 15px ;
    margin-top : 10px ;
}

.pricing-section .card-box .card .Features {
    margin-top : 10px ;
    line-height: 1.4;
}

.pricing-section .card-box .card .Features li {
    display : flex ;
    margin-left : 30px ;
    font-size:14px ;
    margin-top : 2px ;
}

.pricing-section .background {
    display: none ;
    position: fixed ;
    width : 100% ;
    height : 10dvh ;
    padding : 14px 35px ;
    top : 0; 
    right : 0;
    left : 0 ;
    z-index: 1;
}

@media (max-width : 575px) {
    body {
        width : max-content ;
        overflow-x: hidden;
    }

    .pricing-section {
        overflow-x: hidden;
        overflow-y: auto ;
        width : max-content ;
        height: max-content ;
        padding : 12px 0px ;
    }

    .pricing-section .logo {
        position: fixed ;
        top : 20px ;
        left : 20px ;
        margin : 0px ;
    }

    .pricing-section .navbar {
        display: none;
    }

    .pricing-section .start-box {
        display : none ;
    }

    .pricing-section .humbarger-menu-btn {
        display : unset ;
        position: absolute ;
        top : 20px ;
        right : 20px ;
    }

    .pricing-section .humbarger-menu {
        display : unset ;
        padding : 12px 30px ;
    }

    .pricing-section .section-tag {
        margin : 0px ;
        margin-top : 100px;
        margin-left : 150px ;
        transform: scale(0.90);
    }
    
    .pricing-section .main-heading {
        width : max-content ;
        font-size: 30px ;
        margin-top : 40px ;
        margin-left : 40px;
    }
    
    .pricing-section .main-paragraph {
        margin-left : 40px ;
        width : 320px ;
    }

    .pricing-section .planing-box {
        margin : 0px; 
        margin-top :  30px ;
        margin-left : 50px ;
        margin-bottom: 20px ;
    }
    
    .pricing-section .card-box {
        display: block ;
        overflow: hidden ;
        height : max-content ;
        width : 100% ;
        margin-left : 20px; 
        padding : 12px 30px ;
    }

    .pricing-section .card-box .card {
        width : 95% ;
        padding : 6px 15px ;
    }

    .pricing-section .background {
        display: unset;
        width : 100% ;
    }

}

@media (min-width : 576px) and (max-width : 767px){
    body {
        width : max-content ;
        overflow-x: hidden;
    }

    .pricing-section {
        overflow-x: hidden;
        overflow-y: auto ;
        width : max-content ;
        height: max-content ;
        padding : 12px 0px ;
    }

    .pricing-section .logo {
        position: fixed ;
        top : 20px ;
        left : 20px ;
        margin : 0px ;
    }

    .pricing-section .navbar {
        display: none;
    }

    .pricing-section .start-box {
        display : none ;
    }

    .pricing-section .humbarger-menu-btn {
        display : unset ;
        position: absolute ;
        top : 20px ;
        right : 20px ;
    }

    .pricing-section .humbarger-menu {
        display : unset ;
        padding : 12px 30px ;
    }

    .pricing-section .section-tag {
        margin : 0px ;
        margin-top : 100px;
        margin-left : 150px ;
        transform: scale(0.90);
    }
    
    .pricing-section .main-heading {
        width : max-content ;
        font-size: 30px ;
        margin-top : 40px ;
        margin-left : 40px;
    }
    
    .pricing-section .main-paragraph {
        margin-left : 40px ;
        width : 320px ;
    }

    .pricing-section .planing-box {
        margin : 0px; 
        margin-top :  30px ;
        margin-left : 50px ;
        margin-bottom: 20px ;
    }
    
    .pricing-section .card-box {
        display: block ;
        overflow: hidden ;
        height : max-content ;
        width : 100% ;
        margin-left : 20px; 
        padding : 12px 30px ;
    }

    .pricing-section .card-box .card {
        width : 95% ;
        padding : 6px 15px ;
    }

    .pricing-section .background {
        display: unset;
        width : 100% ;
    }

}

@media (min-width : 767px) and (max-width : 991px) {
    body {

        overflow-x: hidden;
    }

    .pricing-section {
        overflow-x: hidden;
        overflow-y: auto ;
        width : 100% ;
        height: max-content ;
        padding : 12px 0px ;
        width : 100% ;
        height : 100vh ;
    }

    .pricing-section .navbar {
        display: none;
    }

    .pricing-section .start-box {
        display : none ;
    }

    .pricing-section .humbarger-menu-btn {
        display : unset ;
        position: absolute ;
        top : 20px ;
        right : 20px ;
    }

    .pricing-section .humbarger-menu {
        display : unset ;
    }

    .pricing-section .humbarger-menu .navbar li {
        margin-top : 30px ;
        font-size: 25px ;
    }

    .pricing-section .humbarger-menu .start-box {
        width : max-content ;
        position: relative;
        display: flex ;
        justify-self: center ;
        margin : 0px ;
        margin-top : 500px ;
        margin-left : 100px ;
    }

    .pricing-section .humbarger-menu .start-box button {
        transform: scale(1.19);
    }

    .pricing-section .section-tag {
        margin : 0px ;
        margin-top : 100px;
        display : flex;
        justify-self: center ;
        transform: scale(0.90);
    }
    
    .pricing-section .main-heading {
        display : flex ;
        justify-self: center ;
        width : max-content ;
        margin : 0px; 
        margin-top : 30px;
    }
    
    .pricing-section .main-paragraph {
        display : flex ;
        justify-self: center ;
        width : max-content ;
        margin : 0px; 
        margin-top : 30px ;
        width : 400px ;
    }

    .pricing-section .planing-box {
        display : flex ;
        justify-self: center ;
        margin : 0px; 
        margin-top : 40px ;
        margin-bottom: 20px ;
    }

    .pricing-section .card-box {
        position: absolute ;
        bottom : 0;
    }

    .pricing-section .card-box .card {
        width : 95% ;
    }

    .pricing-section .card-box .card .name {
        font-size: 22px;
        font-weight: bold;
    }

    .pricing-section .card-box .card .description {
        font-size: 16px;
        margin-top : 15px;
    }

    .pricing-section .card-box .card .price {
        margin-top : 20px ;
        font-size : 30px ;
    }

    .pricing-section .card-box .card .price span {
        font-size: 40px ;
    }

    .pricing-section .card-box .card button {
        transform: scale(1.2);
    }

    .pricing-section .card-box .card .Features {
        margin-top : 40px ;
    }

    .pricing-section .card-box .card .Features li {
        font-size: 15px ;
        font-weight: bold ;
        margin-top : 10px ;
    }

    }
